{% extends "projbase.html.twig" %}

{% block title %}Om{% endblock %}

{% block content %}
<h1>Om den här sidan</h1>

<p>Välkommen till min about-sida för mitt projekt. Jag har valt att skapa ett spel där man kan spela Plump, ett kortspel.</p>
<h4>Spelregler</h4>
<p>Målet med spelet är att inte "plumpa", utan att få poäng varje runda. För att få poäng så måste man ta lika många stick som man satsar på att man ska ta i böjan, och för att ta ett stick så måste du ha det högsta kortet, eller trumf. Man börjar med 10 kort var, och sen kör man 9, 8, etc. tills man kommer till ett. Därefter kör man från ett till tio. Efter varje utdelning av korten så tas det översta av de kvarvarande korten och läggs upp. Denns färg är nu trumf. Nu satsar man kort, alla på en gång.</p>

<a href="https://github.com/e-verdugo/mvc-course">Github repo för projektet</a>
<a href="https://scrutinizer-ci.com/g/e-verdugo/mvc-course/">Scrutinizer för repot</a>
<a href="http://www.student.bth.se/~emve21/dbwebb-kurser/mvc/me/report/docs/metrics/">Rapporten från phpmetrics</a>
<a href="http://www.student.bth.se/~emve21/dbwebb-kurser/mvc/me/report/docs/api/">Dokumentation av phpdoc</a>

Din about-sida skall innehålla en summering där du berättar om projektets kodkvalitet. Berätta vilka eventuella åtgärder du gjort för att kvalitetssäkra projektet och hur du jobbat med kodkvaliteten och vilka verktyg du använt. Har du fokuserat på några speciella saker, verktyg eller metrics, så kan du berätta om dem.
{% endblock %}

Den spelare som satsat mest börjar. Den får lägga ut vad den vill, och alla andra spelare måste följa färg. Har man inte färgen måste man lägga trumf. Äss i trumf går inte att klå, eftersom den är värd mest.