{% extends "projbase.html.twig" %}

{% block title %}Plump{% endblock %}

{% block content %}

<h1>Spela plump</h1>

<div style="padding: 5em;">
    <form action="{{ path("plump") }}" method="POST">
        <input type="submit" value="Spela!">
    </form>
</div>

{% endblock %}
