{% extends "projbase.html.twig" %}

{% block title %}Plump{% endblock %}

{% block content %}

<h1>Spela plump</h1>

<div style="padding: 5em;">
    <form action="{{ path("plump") }}" method="POST">
        <label for="amount">Hur många spelare?</label>
        <input type="number" id="amount" name="amount" min="1" max="5"><br><br>
        <input type="submit" value="Spela!">
    </form>
</div>

{% endblock %}
