{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block content %}

<h1>Spel</h1>

<h4><a href="{{ path("doc") }}">Documentation</a></h4>

<h4><a href="{{ path("play") }}">Play game</a></h4>

<h4>Spelregler</h4>
Målet med spelet är att genom att dra ett kort i taget få en hand som kommer så nära värdet 21 som möjligt, utan att komma över det. Kommer man över 21 så förlorar man, hamnar man på 21 så vinner man. Om man är under 21 men känner sig nöjd så kan man lägga sig. Då kommer banken att dra lika många kort som spelaren har, och om banken kommer närmare 21 än spelaren utan att komma över så vinner den, och spelaren förlorar. Det gäller alltså att ha fler poäng än banken.

{% endblock %}
