{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>

<p>This is the page for the course MVC. From this course I will learn to program for the web using object oriented PHP.</p>
<p>The course's github repo can be found <a href="https://github.com/dbwebb-se/mvc/">here</a>.</p>
<img src="../public/img/leaf_256x256.png">

{% endblock %}