{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>
<p>Hello! These are my chickens. They are chinese painted quail, three hens and one rooster. Three are silver (including the rooster) and one is wild colour.</p>
<img src="img/IMG_20220110_135013_745.jpg" width="250px" alt="Höna">
<img src="img/IMG_20220110_135013_765.jpg" width="250px" alt="Höna">
<img src="img/IMG_20220110_135013_875.jpg" width="250px" alt="Höna">
<img src="img/IMG_20220110_135013_926.jpg" width="250px" alt="Tupp">
{% endblock %}