{% extends 'base.html.twig' %}

{% block title %}Welcome to the library!{% endblock %}

{% block content %}
<div style="padding: 5em;">
    <form action="{{ path(action) }}" method="POST">
        <label for="isbn">ISBN for the book:</label>
        <input type="text" id="isbn" name="isbn"><br><br>
        <input type="submit" value="{{value}}">
    </form>
</div>
{% endblock %}
